.filmCarousel {
    .fixed {
        height: 62px;
    }
    .carousel-inner {
        :before {
            content: '';
            width: 100%;
            height: 62px;
            background-color: red;
        }
    }
}